.prod {
    margin: 50px 0 0 0;
    border: 2px solid #000;
    margin: 0.3em;
    text-align: center;
}

.prod-image {
    max-width: 70%;
}

body .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: orange;
}

body .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    background-color: #000;
    color: #fff;
}