.prod {
    margin: 1.3em 0.3em;
    border: 2px solid #000;
    text-align: center;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: 0.4s all ease-in-out;
    -moz-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
}

.prod:hover {
    border: 2px solid #ffa500;
}

.prod-image {
    max-width: 70%;
}

body .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #ffa500;
}

body .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    background-color: #000;
    color: #fff;
}