@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*start global style*/

* {
  list-style-type: none;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.btns {
  text-align: center;
  background-color:  orange;
  color: #fff;
  width: 30%;
  height: 2.5em;
  border: none;
  cursor: pointer;
  margin-top: 1.3em;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.btns:hover {
  background-color: #000;
}
/*end global style*/

/*start main app style*/

header {
  margin-bottom: 2%;
  background-image: linear-gradient(to right, #d58e14, #dea127, #e6b339, #eec54b, #f6d85d);
  color: #fff;
}

header nav {
  background-color: #000;
}

header h1 {
  text-align: center;
  margin: 0;
  font-family: 'Lobster', cursive;
  font-size: 2.4em;
}

.filters {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.filters h2 {
  color: #dea127;
  font-weight: bolder;
  font-size: 1.2em;
}

footer {
  text-align: center;
  background-color: #000;
  height: 1.5em;
  color: #fff;
}

/*end main app style*/

/*****responsive*****/

@media screen and (max-width: 767px) {
  .smHide {
    display: none;
  }

  .smShow {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .lgHide {
    display: none;
  }

  .lgShow {
    display: block;
  }
}