/*start global style*/
* {
  list-style-type: none;
  padding: 0;
}

.btns {
  text-align: center;
  background-color:  orange;
  color: #fff;
  width: 30%;
  height: 2.5em;
  border: none;
  cursor: pointer;
  margin-top: 1.3em;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.btns:hover {
  background-color: #000;
}
/*end global style*/
h1 {
  text-align: center;
}

.filters {
  text-align: center;
}

footer {
  text-align: center;
  background-color: #000;
  height: 1.5em;
  color: #fff;
}