/*listbox style*/
body .p-listbox .p-listbox-list .p-listbox-item.p-highlight {
    background-color: orange;
}

/*range style*/
body .p-slider .p-slider-range {
    background-color: orange;
}

body .p-slider.p-slider-horizontal .p-slider-handle:hover {
    border: 2px solid orange;
}

/*rating style*/
body .p-rating .p-rating-icon {
    color: orange;
}

body .p-rating:not(.p-disabled):not(.p-rating-readonly) .p-rating-icon:hover {
    color: black;
}