.category-item {
    text-align: center;
    margin: 0.3em;
    cursor: pointer;
    color: #fff;
    background-color: orange;
}

.category-item:hover {
    background-color: #000;
    color: #fff;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}